<a href="https://colab.research.google.com/github/tarek7129/Py-Pandas/blob/master/ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
datas = pd.date_range('20180101',periods = 60)

In [ ]:
df = pd.DataFrame(np.random.randn(60,5), index = datas, columns = list("ABCDE"))

In [ ]:
df

                   A         B         C         D
2018-01-01  0.731605  1.030993 -1.702295 -0.579522
2018-01-02 -0.687784 -1.080845 -1.106042  0.027648
2018-01-03 -0.835198  1.905645 -0.316818  0.357862
2018-01-04 -0.583728  0.223925 -0.469103 -0.554235
2018-01-05  0.989280 -0.221151 -2.076040 -0.055131
2018-01-06  0.513383  1.455719 -0.174281  0.422335

In [ ]:
df.shape

(60, 5)

In [ ]:
df.head(10)

                   A         B         C         D         E  f  g   produto
2018-01-01  0.596653 -1.052722  0.034195  1.012252  0.722147  1  0 -0.628110
2018-01-02 -0.178438  0.638501  0.020219 -0.845662  1.178465  1  1 -0.113933
2018-01-03  1.092021 -0.990079  1.607277  1.602673 -0.434208  1  2 -1.081187
2018-01-04  0.150403  0.014301 -0.252984  0.965959 -1.032975  1  3  0.002151
2018-01-05 -0.833226 -0.895901 -0.509193  0.347107 -1.472684  1  4  0.746489
2018-01-06 -2.118210  1.332288  2.014771 -0.499232  0.513489  1  5 -2.822066
2018-01-07 -1.817113 -0.514036 -1.258388 -0.230925 -0.277780  1  6  0.934061
2018-01-08 -0.689936  0.511259 -0.345524 -0.603705 -0.453326  1  7 -0.352736
2018-01-09  0.560340  1.492775  1.780840 -0.740647 -1.969409  1  8  0.836462
2018-01-10 -1.187578  0.679221  1.542018  0.703975 -1.879199  1  9 -0.806628

In [ ]:
df['f'] =1

In [ ]:
df['g'] = range(60)

In [ ]:
df['produto'] = df ['A'] * df['B']

In [ ]:
df.T

,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08,2018-01-09,2018-01-10,...,2018-02-20,2018-02-21,2018-02-22,2018-02-23,2018-02-24,2018-02-25,2018-02-26,2018-02-27,2018-02-28,2018-03-01
A,0.596653,-0.178438,1.092021,0.150403,-0.833226,-2.118210,-1.817113,-0.689936,0.560340,-1.187578,...,1.151238,1.776612,0.895304,-0.890515,-0.323670,0.437939,0.083460,0.021149,-0.032057,-1.352260
B,-1.052722,0.638501,-0.990079,0.014301,-0.895901,1.332288,-0.514036,0.511259,1.492775,0.679221,...,-1.260551,1.108363,0.588232,-2.113061,0.579277,0.516103,-1.750603,-1.368656,-0.730362,-0.757481
C,0.034195,0.020219,1.607277,-0.252984,-0.509193,2.014771,-1.258388,-0.345524,1.780840,1.542018,...,1.383887,-0.093075,-0.238225,-0.478591,0.648111,0.993757,-0.149586,1.674765,-0.457724,1.208606
D,1.012252,-0.845662,1.602673,0.965959,0.347107,-0.499232,-0.230925,-0.603705,-0.740647,0.703975,...,-0.206269,0.172307,0.575352,1.096215,-0.381003,-0.261056,0.360871,0.195285,0.452477,0.465890
E,0.722147,1.178465,-0.434208,-1.032975,-1.472684,0.513489,-0.277780,-0.453326,-1.969409,-1.879199,...,0.878681,-0.524714,-0.067758,-0.242768,0.092686,1.264953,-0.762627,0.207323,0.023135,1.250182
f,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
g,0.000000,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,...,50.000000,51.000000,52.000000,53.000000,54.000000,55.000000,56.000000,57.000000,58.000000,59.000000
produto,-0.628110,-0.113933,-1.081187,0.002151,0.746489,-2.822066,0.934061,-0.352736,0.836462,-0.806628,...,-1.451194,1.969131,0.526646,1.881712,-0.187494,0.226022,-0.146106,-0.028946,0.023413,1.024311

In [ ]:
df.T.to_numpy()

array([[ 5.96653332e-01, -1.78438168e-01,  1.09202123e+00,
         1.50403488e-01, -8.33226457e-01, -2.11820995e+00,
        -1.81711306e+00, -6.89936089e-01,  5.60340341e-01,
        -1.18757846e+00, -5.02847498e-01, -2.43615190e-01,
         1.37892748e+00,  1.38906995e+00,  1.04073417e+00,
        -6.51416566e-02,  3.64222604e-01,  6.90388035e-01,
        -1.57277654e+00, -4.60866220e-02, -5.37079068e-01,
         5.76915077e-01, -1.42155980e+00,  1.20504972e+00,
        -2.75147314e-02,  5.61387552e-01,  2.98527740e-01,
        -1.22944961e-01, -1.15100730e+00, -8.58306566e-01,
         6.18995629e-02,  1.03110826e+00, -2.76874213e-01,
        -8.40960904e-01,  1.09592730e+00,  3.25747692e-01,
        -4.14766443e-01,  5.74205993e-01,  1.76171722e-01,
        -9.81035716e-02, -3.25323662e-01, -6.93681367e-01,
         8.73160826e-01, -1.98379648e-01,  5.41638781e-01,
         1.83106315e-01, -8.27162290e-02,  7.09177184e-01,
        -7.60715599e-01,  3.38389652e-01,  1.15123791e+00,
         1.77661182e+00,  8.95303814e-01, -8.90514628e-01,
        -3.23669623e-01,  4.37939406e-01,  8.34601285e-02,
         2.11491779e-02, -3.20569664e-02, -1.35226024e+00],
       [-1.05272183e+00,  6.38501042e-01, -9.90078881e-01,
         1.43010732e-02, -8.95901389e-01,  1.33228792e+00,
        -5.14035967e-01,  5.11258706e-01,  1.49277525e+00,
         6.79221162e-01, -1.35078861e+00, -1.90319366e-01,
        -1.01878927e+00,  6.82385864e-03,  1.03529870e+00,
        -5.11109588e-01,  6.05938752e-01, -5.66317727e-02,
         2.78115070e-01,  1.97666856e+00, -6.28017094e-01,
         5.05191964e-01,  4.60635079e-01, -3.05914599e-01,
         1.06275107e+00, -9.55909618e-01, -2.33392995e+00,
        -2.30253854e-01, -6.07713751e-02,  5.44822084e-01,
         9.04486346e-01, -6.16098142e-01,  1.88402206e+00,
         1.46840713e-01,  8.55743016e-02,  4.14688899e-01,
        -5.87297511e-01, -7.20245401e-01, -3.05078980e-01,
         1.14186291e-01, -1.81574132e+00, -6.33041663e-01,
        -3.89510969e-01,  8.83195481e-01,  7.39676965e-01,
        -1.90094101e+00,  8.18375246e-01, -6.81105558e-01,
         8.11051385e-02,  2.55952325e-01, -1.26055116e+00,
         1.10836330e+00,  5.88231764e-01, -2.11306096e+00,
         5.79277044e-01,  5.16102798e-01, -1.75060340e+00,
        -1.36865551e+00, -7.30361987e-01, -7.57480678e-01],
       [ 3.41947343e-02,  2.02185475e-02,  1.60727684e+00,
        -2.52983633e-01, -5.09192841e-01,  2.01477137e+00,
        -1.25838826e+00, -3.45524282e-01,  1.78084049e+00,
         1.54201804e+00, -1.49644397e-01, -3.67452030e-01,
         1.21805830e+00,  5.42405024e-01, -8.80569439e-01,
         7.01693118e-01, -5.95204001e-01,  1.21976549e+00,
         1.59293661e-01, -8.72623605e-02,  5.07225834e-01,
        -8.04690250e-01, -1.09766895e-01,  8.57602508e-01,
         1.78958413e-01, -6.72073268e-01, -8.93346211e-01,
        -1.35466212e+00,  1.67989732e+00,  5.03031990e-01,
        -6.52912001e-01,  9.66982157e-01, -4.04968514e-01,
        -1.21213626e+00, -9.74710446e-02,  1.45220807e+00,
         1.01163552e+00,  1.92354954e+00,  1.44346784e+00,
        -1.02017942e-01, -6.99557263e-01,  8.23561717e-01,
         9.45942600e-01,  1.10681652e+00, -2.00735718e+00,
        -4.18383194e-01,  2.24195960e-01, -9.12452695e-01,
        -1.47477727e-01,  1.67656956e+00,  1.38388693e+00,
        -9.30748893e-02, -2.38224502e-01, -4.78591275e-01,
         6.48111225e-01,  9.93757191e-01, -1.49586114e-01,
         1.67476505e+00, -4.57723906e-01,  1.20860588e+00],
       [ 1.01225209e+00, -8.45662364e-01,  1.60267290e+00,
         9.65959111e-01,  3.47107340e-01, -4.99232420e-01,
        -2.30925357e-01, -6.03704719e-01, -7.40647370e-01,
         7.03975154e-01, -3.41923919e-01, -1.50179920e+00,
         1.42270755e+00, -2.38344307e-01, -6.32039471e-01,
         1.80675859e+00, -4.90845704e-01, -7.26351227e-02,
        -5.21264639e-01,  1.70030807e+00,  8.47590736e-01,
         6.78223255e-02, -1.15299549e+00, -3.10063914e-01,
        -1.44293752e+00, -6.37335348e-01,  7.17682519e-02,
         1.76398848e-01,  9.41561453e-02,  9.81670840e-02,
         1.34315396e+00,  6.80149540e-03,  2.88470176e-01,
         2.85958374e-01, -4.74298288e-01,  6.84665163e-03,
        -7.73447883e-01, -1.15874580e+00,  1.91645375e+00,
        -4.28576245e-01,  1.20377612e-01, -9.18628139e-01,
         3.45390202e-02,  1.09423739e+00, -5.68762679e-01,
        -3.51292538e-01, -1.03935747e+00, -3.83583900e-01,
         4.00124482e-01, -1.95811987e+00, -2.06269425e-01,
         1.72307100e-01,  5.75351760e-01,  1.09621510e+00,
        -3.81003494e-01, -2.61055779e-01,  3.60870726e-01,
         1.95284551e-01,  4.52476902e-01,  4.65890175e-01],
       [ 7.22147249e-01,  1.17846542e+00, -4.34208159e-01,
        -1.03297522e+00, -1.47268428e+00,  5.13489024e-01,
        -2.77780484e-01, -4.53325669e-01, -1.96940920e+00,
        -1.87919854e+00,  2.33926672e-02, -1.00342927e+00,
        -8.54632690e-01, -1.76326183e-01, -7.45854246e-01,
         1.92133016e+00,  1.26722398e+00, -1.14737097e+00,
        -1.19334814e+00,  9.87093659e-01, -8.20290949e-01,
         1.99824307e-01,  9.14841865e-01,  1.93010690e-01,
        -5.91929910e-01,  1.21102141e-01, -5.06170593e-01,
        -8.41008564e-01,  9.25861136e-01,  1.59157387e+00,
        -2.29181664e-01, -6.04708047e-01,  4.98827679e-01,
        -1.07133334e+00,  3.74832833e-01, -5.62727179e-01,
        -2.45812692e-01, -1.35529539e+00,  2.82887777e-01,
        -6.95746353e-01, -1.72376804e+00, -8.79926244e-01,
        -2.12837124e+00,  2.19471143e-01, -9.08744849e-01,
        -1.03444944e+00, -3.88929855e-01,  1.71005778e+00,
        -1.10860448e-01, -7.59168263e-01,  8.78680545e-01,
        -5.24714415e-01, -6.77576721e-02, -2.42768403e-01,
         9.26859693e-02,  1.26495320e+00, -7.62627108e-01,
         2.07322791e-01,  2.31351731e-02,  1.25018155e+00],
       [ 1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.00000000e+00],
       [ 0.00000000e+00,  1.00000000e+00,  2.00000000e+00,
         3.00000000e+00,  4.00000000e+00,  5.00000000e+00,
         6.00000000e+00,  7.00000000e+00,  8.00000000e+00,
         9.00000000e+00,  1.00000000e+01,  1.10000000e+01,
         1.20000000e+01,  1.30000000e+01,  1.40000000e+01,
         1.50000000e+01,  1.60000000e+01,  1.70000000e+01,
         1.80000000e+01,  1.90000000e+01,  2.00000000e+01,
         2.10000000e+01,  2.20000000e+01,  2.30000000e+01,
         2.40000000e+01,  2.50000000e+01,  2.60000000e+01,
         2.70000000e+01,  2.80000000e+01,  2.90000000e+01,
         3.00000000e+01,  3.10000000e+01,  3.20000000e+01,
         3.30000000e+01,  3.40000000e+01,  3.50000000e+01,
         3.60000000e+01,  3.70000000e+01,  3.80000000e+01,
         3.90000000e+01,  4.00000000e+01,  4.10000000e+01,
         4.20000000e+01,  4.30000000e+01,  4.40000000e+01,
         4.50000000e+01,  4.60000000e+01,  4.70000000e+01,
         4.80000000e+01,  4.90000000e+01,  5.00000000e+01,
         5.10000000e+01,  5.20000000e+01,  5.30000000e+01,
         5.40000000e+01,  5.50000000e+01,  5.60000000e+01,
         5.70000000e+01,  5.80000000e+01,  5.90000000e+01],
       [-6.28109987e-01, -1.13932956e-01, -1.08118716e+00,
         2.15093129e-03,  7.46488740e-01, -2.82206553e+00,
         9.34061471e-01, -3.52735832e-01,  8.36462193e-01,
        -8.06628423e-01,  6.79240671e-01,  4.63646886e-02,
        -1.40483652e+00,  9.47881699e-03,  1.07747073e+00,
         3.32945253e-02,  2.20696590e-01, -3.90978983e-02,
        -4.37412858e-01, -9.10979769e-02,  3.37294836e-01,
         2.91452861e-01, -6.54820311e-01, -3.68642301e-01,
        -2.92413102e-02, -5.36635760e-01, -6.96742833e-01,
         2.83085510e-02,  6.99482963e-02, -4.67624372e-01,
         5.59873095e-02, -6.35263884e-01, -5.21637125e-01,
        -1.23487299e-01,  9.37832135e-02,  1.35083951e-01,
         2.43591300e-01, -4.13569226e-01, -5.37462894e-02,
        -1.12020829e-02,  5.90703616e-01,  4.39129206e-01,
        -3.40105719e-01, -1.75208008e-01,  4.00637730e-01,
        -3.48074303e-01, -6.76929142e-02, -4.83024522e-01,
        -6.16979441e-02,  8.66116184e-02, -1.45119429e+00,
         1.96913135e+00,  5.26646141e-01,  1.88171169e+00,
        -1.87494382e-01,  2.26021752e-01, -1.46105585e-01,
        -2.89459388e-02,  2.34131897e-02,  1.02431100e+00]])

In [ ]:
df.to_numpy()

array([[ 5.96653332e-01, -1.05272183e+00,  3.41947343e-02,
         1.01225209e+00,  7.22147249e-01,  1.00000000e+00,
         0.00000000e+00, -6.28109987e-01],
       [-1.78438168e-01,  6.38501042e-01,  2.02185475e-02,
        -8.45662364e-01,  1.17846542e+00,  1.00000000e+00,
         1.00000000e+00, -1.13932956e-01],
       [ 1.09202123e+00, -9.90078881e-01,  1.60727684e+00,
         1.60267290e+00, -4.34208159e-01,  1.00000000e+00,
         2.00000000e+00, -1.08118716e+00],
       [ 1.50403488e-01,  1.43010732e-02, -2.52983633e-01,
         9.65959111e-01, -1.03297522e+00,  1.00000000e+00,
         3.00000000e+00,  2.15093129e-03],
       [-8.33226457e-01, -8.95901389e-01, -5.09192841e-01,
         3.47107340e-01, -1.47268428e+00,  1.00000000e+00,
         4.00000000e+00,  7.46488740e-01],
       [-2.11820995e+00,  1.33228792e+00,  2.01477137e+00,
        -4.99232420e-01,  5.13489024e-01,  1.00000000e+00,
         5.00000000e+00, -2.82206553e+00],
       [-1.81711306e+00, -5.14035967e-01, -1.25838826e+00,
        -2.30925357e-01, -2.77780484e-01,  1.00000000e+00,
         6.00000000e+00,  9.34061471e-01],
       [-6.89936089e-01,  5.11258706e-01, -3.45524282e-01,
        -6.03704719e-01, -4.53325669e-01,  1.00000000e+00,
         7.00000000e+00, -3.52735832e-01],
       [ 5.60340341e-01,  1.49277525e+00,  1.78084049e+00,
        -7.40647370e-01, -1.96940920e+00,  1.00000000e+00,
         8.00000000e+00,  8.36462193e-01],
       [-1.18757846e+00,  6.79221162e-01,  1.54201804e+00,
         7.03975154e-01, -1.87919854e+00,  1.00000000e+00,
         9.00000000e+00, -8.06628423e-01],
       [-5.02847498e-01, -1.35078861e+00, -1.49644397e-01,
        -3.41923919e-01,  2.33926672e-02,  1.00000000e+00,
         1.00000000e+01,  6.79240671e-01],
       [-2.43615190e-01, -1.90319366e-01, -3.67452030e-01,
        -1.50179920e+00, -1.00342927e+00,  1.00000000e+00,
         1.10000000e+01,  4.63646886e-02],
       [ 1.37892748e+00, -1.01878927e+00,  1.21805830e+00,
         1.42270755e+00, -8.54632690e-01,  1.00000000e+00,
         1.20000000e+01, -1.40483652e+00],
       [ 1.38906995e+00,  6.82385864e-03,  5.42405024e-01,
        -2.38344307e-01, -1.76326183e-01,  1.00000000e+00,
         1.30000000e+01,  9.47881699e-03],
       [ 1.04073417e+00,  1.03529870e+00, -8.80569439e-01,
        -6.32039471e-01, -7.45854246e-01,  1.00000000e+00,
         1.40000000e+01,  1.07747073e+00],
       [-6.51416566e-02, -5.11109588e-01,  7.01693118e-01,
         1.80675859e+00,  1.92133016e+00,  1.00000000e+00,
         1.50000000e+01,  3.32945253e-02],
       [ 3.64222604e-01,  6.05938752e-01, -5.95204001e-01,
        -4.90845704e-01,  1.26722398e+00,  1.00000000e+00,
         1.60000000e+01,  2.20696590e-01],
       [ 6.90388035e-01, -5.66317727e-02,  1.21976549e+00,
        -7.26351227e-02, -1.14737097e+00,  1.00000000e+00,
         1.70000000e+01, -3.90978983e-02],
       [-1.57277654e+00,  2.78115070e-01,  1.59293661e-01,
        -5.21264639e-01, -1.19334814e+00,  1.00000000e+00,
         1.80000000e+01, -4.37412858e-01],
       [-4.60866220e-02,  1.97666856e+00, -8.72623605e-02,
         1.70030807e+00,  9.87093659e-01,  1.00000000e+00,
         1.90000000e+01, -9.10979769e-02],
       [-5.37079068e-01, -6.28017094e-01,  5.07225834e-01,
         8.47590736e-01, -8.20290949e-01,  1.00000000e+00,
         2.00000000e+01,  3.37294836e-01],
       [ 5.76915077e-01,  5.05191964e-01, -8.04690250e-01,
         6.78223255e-02,  1.99824307e-01,  1.00000000e+00,
         2.10000000e+01,  2.91452861e-01],
       [-1.42155980e+00,  4.60635079e-01, -1.09766895e-01,
        -1.15299549e+00,  9.14841865e-01,  1.00000000e+00,
         2.20000000e+01, -6.54820311e-01],
       [ 1.20504972e+00, -3.05914599e-01,  8.57602508e-01,
        -3.10063914e-01,  1.93010690e-01,  1.00000000e+00,
         2.30000000e+01, -3.68642301e-01],
       [-2.75147314e-02,  1.06275107e+00,  1.78958413e-01,
        -1.44293752e+00, -5.91929910e-01,  1.00000000e+00,
         2.40000000e+01, -2.92413102e-02],
       [ 5.61387552e-01, -9.55909618e-01, -6.72073268e-01,
        -6.37335348e-01,  1.21102141e-01,  1.00000000e+00,
         2.50000000e+01, -5.36635760e-01],
       [ 2.98527740e-01, -2.33392995e+00, -8.93346211e-01,
         7.17682519e-02, -5.06170593e-01,  1.00000000e+00,
         2.60000000e+01, -6.96742833e-01],
       [-1.22944961e-01, -2.30253854e-01, -1.35466212e+00,
         1.76398848e-01, -8.41008564e-01,  1.00000000e+00,
         2.70000000e+01,  2.83085510e-02],
       [-1.15100730e+00, -6.07713751e-02,  1.67989732e+00,
         9.41561453e-02,  9.25861136e-01,  1.00000000e+00,
         2.80000000e+01,  6.99482963e-02],
       [-8.58306566e-01,  5.44822084e-01,  5.03031990e-01,
         9.81670840e-02,  1.59157387e+00,  1.00000000e+00,
         2.90000000e+01, -4.67624372e-01],
       [ 6.18995629e-02,  9.04486346e-01, -6.52912001e-01,
         1.34315396e+00, -2.29181664e-01,  1.00000000e+00,
         3.00000000e+01,  5.59873095e-02],
       [ 1.03110826e+00, -6.16098142e-01,  9.66982157e-01,
         6.80149540e-03, -6.04708047e-01,  1.00000000e+00,
         3.10000000e+01, -6.35263884e-01],
       [-2.76874213e-01,  1.88402206e+00, -4.04968514e-01,
         2.88470176e-01,  4.98827679e-01,  1.00000000e+00,
         3.20000000e+01, -5.21637125e-01],
       [-8.40960904e-01,  1.46840713e-01, -1.21213626e+00,
         2.85958374e-01, -1.07133334e+00,  1.00000000e+00,
         3.30000000e+01, -1.23487299e-01],
       [ 1.09592730e+00,  8.55743016e-02, -9.74710446e-02,
        -4.74298288e-01,  3.74832833e-01,  1.00000000e+00,
         3.40000000e+01,  9.37832135e-02],
       [ 3.25747692e-01,  4.14688899e-01,  1.45220807e+00,
         6.84665163e-03, -5.62727179e-01,  1.00000000e+00,
         3.50000000e+01,  1.35083951e-01],
       [-4.14766443e-01, -5.87297511e-01,  1.01163552e+00,
        -7.73447883e-01, -2.45812692e-01,  1.00000000e+00,
         3.60000000e+01,  2.43591300e-01],
       [ 5.74205993e-01, -7.20245401e-01,  1.92354954e+00,
        -1.15874580e+00, -1.35529539e+00,  1.00000000e+00,
         3.70000000e+01, -4.13569226e-01],
       [ 1.76171722e-01, -3.05078980e-01,  1.44346784e+00,
         1.91645375e+00,  2.82887777e-01,  1.00000000e+00,
         3.80000000e+01, -5.37462894e-02],
       [-9.81035716e-02,  1.14186291e-01, -1.02017942e-01,
        -4.28576245e-01, -6.95746353e-01,  1.00000000e+00,
         3.90000000e+01, -1.12020829e-02],
       [-3.25323662e-01, -1.81574132e+00, -6.99557263e-01,
         1.20377612e-01, -1.72376804e+00,  1.00000000e+00,
         4.00000000e+01,  5.90703616e-01],
       [-6.93681367e-01, -6.33041663e-01,  8.23561717e-01,
        -9.18628139e-01, -8.79926244e-01,  1.00000000e+00,
         4.10000000e+01,  4.39129206e-01],
       [ 8.73160826e-01, -3.89510969e-01,  9.45942600e-01,
         3.45390202e-02, -2.12837124e+00,  1.00000000e+00,
         4.20000000e+01, -3.40105719e-01],
       [-1.98379648e-01,  8.83195481e-01,  1.10681652e+00,
         1.09423739e+00,  2.19471143e-01,  1.00000000e+00,
         4.30000000e+01, -1.75208008e-01],
       [ 5.41638781e-01,  7.39676965e-01, -2.00735718e+00,
        -5.68762679e-01, -9.08744849e-01,  1.00000000e+00,
         4.40000000e+01,  4.00637730e-01],
       [ 1.83106315e-01, -1.90094101e+00, -4.18383194e-01,
        -3.51292538e-01, -1.03444944e+00,  1.00000000e+00,
         4.50000000e+01, -3.48074303e-01],
       [-8.27162290e-02,  8.18375246e-01,  2.24195960e-01,
        -1.03935747e+00, -3.88929855e-01,  1.00000000e+00,
         4.60000000e+01, -6.76929142e-02],
       [ 7.09177184e-01, -6.81105558e-01, -9.12452695e-01,
        -3.83583900e-01,  1.71005778e+00,  1.00000000e+00,
         4.70000000e+01, -4.83024522e-01],
       [-7.60715599e-01,  8.11051385e-02, -1.47477727e-01,
         4.00124482e-01, -1.10860448e-01,  1.00000000e+00,
         4.80000000e+01, -6.16979441e-02],
       [ 3.38389652e-01,  2.55952325e-01,  1.67656956e+00,
        -1.95811987e+00, -7.59168263e-01,  1.00000000e+00,
         4.90000000e+01,  8.66116184e-02],
       [ 1.15123791e+00, -1.26055116e+00,  1.38388693e+00,
        -2.06269425e-01,  8.78680545e-01,  1.00000000e+00,
         5.00000000e+01, -1.45119429e+00],
       [ 1.77661182e+00,  1.10836330e+00, -9.30748893e-02,
         1.72307100e-01, -5.24714415e-01,  1.00000000e+00,
         5.10000000e+01,  1.96913135e+00],
       [ 8.95303814e-01,  5.88231764e-01, -2.38224502e-01,
         5.75351760e-01, -6.77576721e-02,  1.00000000e+00,
         5.20000000e+01,  5.26646141e-01],
       [-8.90514628e-01, -2.11306096e+00, -4.78591275e-01,
         1.09621510e+00, -2.42768403e-01,  1.00000000e+00,
         5.30000000e+01,  1.88171169e+00],
       [-3.23669623e-01,  5.79277044e-01,  6.48111225e-01,
        -3.81003494e-01,  9.26859693e-02,  1.00000000e+00,
         5.40000000e+01, -1.87494382e-01],
       [ 4.37939406e-01,  5.16102798e-01,  9.93757191e-01,
        -2.61055779e-01,  1.26495320e+00,  1.00000000e+00,
         5.50000000e+01,  2.26021752e-01],
       [ 8.34601285e-02, -1.75060340e+00, -1.49586114e-01,
         3.60870726e-01, -7.62627108e-01,  1.00000000e+00,
         5.60000000e+01, -1.46105585e-01],
       [ 2.11491779e-02, -1.36865551e+00,  1.67476505e+00,
         1.95284551e-01,  2.07322791e-01,  1.00000000e+00,
         5.70000000e+01, -2.89459388e-02],
       [-3.20569664e-02, -7.30361987e-01, -4.57723906e-01,
         4.52476902e-01,  2.31351731e-02,  1.00000000e+00,
         5.80000000e+01,  2.34131897e-02],
       [-1.35226024e+00, -7.57480678e-01,  1.20860588e+00,
         4.65890175e-01,  1.25018155e+00,  1.00000000e+00,
         5.90000000e+01,  1.02431100e+00]])

In [ ]:
df

                   A         B         C         D         E  f   g   produto
2018-01-01  0.596653 -1.052722  0.034195  1.012252  0.722147  1   0 -0.628110
2018-01-02 -0.178438  0.638501  0.020219 -0.845662  1.178465  1   1 -0.113933
2018-01-03  1.092021 -0.990079  1.607277  1.602673 -0.434208  1   2 -1.081187
2018-01-04  0.150403  0.014301 -0.252984  0.965959 -1.032975  1   3  0.002151
2018-01-05 -0.833226 -0.895901 -0.509193  0.347107 -1.472684  1   4  0.746489
2018-01-06 -2.118210  1.332288  2.014771 -0.499232  0.513489  1   5 -2.822066
2018-01-07 -1.817113 -0.514036 -1.258388 -0.230925 -0.277780  1   6  0.934061
2018-01-08 -0.689936  0.511259 -0.345524 -0.603705 -0.453326  1   7 -0.352736
2018-01-09  0.560340  1.492775  1.780840 -0.740647 -1.969409  1   8  0.836462
2018-01-10 -1.187578  0.679221  1.542018  0.703975 -1.879199  1   9 -0.806628
2018-01-11 -0.502847 -1.350789 -0.149644 -0.341924  0.023393  1  10  0.679241
2018-01-12 -0.243615 -0.190319 -0.367452 -1.501799 -1.003429  1  11  0.046365
2018-01-13  1.378927 -1.018789  1.218058  1.422708 -0.854633  1  12 -1.404837
2018-01-14  1.389070  0.006824  0.542405 -0.238344 -0.176326  1  13  0.009479
2018-01-15  1.040734  1.035299 -0.880569 -0.632039 -0.745854  1  14  1.077471
2018-01-16 -0.065142 -0.511110  0.701693  1.806759  1.921330  1  15  0.033295
2018-01-17  0.364223  0.605939 -0.595204 -0.490846  1.267224  1  16  0.220697
2018-01-18  0.690388 -0.056632  1.219765 -0.072635 -1.147371  1  17 -0.039098
2018-01-19 -1.572777  0.278115  0.159294 -0.521265 -1.193348  1  18 -0.437413
2018-01-20 -0.046087  1.976669 -0.087262  1.700308  0.987094  1  19 -0.091098
2018-01-21 -0.537079 -0.628017  0.507226  0.847591 -0.820291  1  20  0.337295
2018-01-22  0.576915  0.505192 -0.804690  0.067822  0.199824  1  21  0.291453
2018-01-23 -1.421560  0.460635 -0.109767 -1.152995  0.914842  1  22 -0.654820
2018-01-24  1.205050 -0.305915  0.857603 -0.310064  0.193011  1  23 -0.368642
2018-01-25 -0.027515  1.062751  0.178958 -1.442938 -0.591930  1  24 -0.029241
2018-01-26  0.561388 -0.955910 -0.672073 -0.637335  0.121102  1  25 -0.536636
2018-01-27  0.298528 -2.333930 -0.893346  0.071768 -0.506171  1  26 -0.696743
2018-01-28 -0.122945 -0.230254 -1.354662  0.176399 -0.841009  1  27  0.028309
2018-01-29 -1.151007 -0.060771  1.679897  0.094156  0.925861  1  28  0.069948
2018-01-30 -0.858307  0.544822  0.503032  0.098167  1.591574  1  29 -0.467624
2018-01-31  0.061900  0.904486 -0.652912  1.343154 -0.229182  1  30  0.055987
2018-02-01  1.031108 -0.616098  0.966982  0.006801 -0.604708  1  31 -0.635264
2018-02-02 -0.276874  1.884022 -0.404969  0.288470  0.498828  1  32 -0.521637
2018-02-03 -0.840961  0.146841 -1.212136  0.285958 -1.071333  1  33 -0.123487
2018-02-04  1.095927  0.085574 -0.097471 -0.474298  0.374833  1  34  0.093783
2018-02-05  0.325748  0.414689  1.452208  0.006847 -0.562727  1  35  0.135084
2018-02-06 -0.414766 -0.587298  1.011636 -0.773448 -0.245813  1  36  0.243591
2018-02-07  0.574206 -0.720245  1.923550 -1.158746 -1.355295  1  37 -0.413569
2018-02-08  0.176172 -0.305079  1.443468  1.916454  0.282888  1  38 -0.053746
2018-02-09 -0.098104  0.114186 -0.102018 -0.428576 -0.695746  1  39 -0.011202
2018-02-10 -0.325324 -1.815741 -0.699557  0.120378 -1.723768  1  40  0.590704
2018-02-11 -0.693681 -0.633042  0.823562 -0.918628 -0.879926  1  41  0.439129
2018-02-12  0.873161 -0.389511  0.945943  0.034539 -2.128371  1  42 -0.340106
2018-02-13 -0.198380  0.883195  1.106817  1.094237  0.219471  1  43 -0.175208
2018-02-14  0.541639  0.739677 -2.007357 -0.568763 -0.908745  1  44  0.400638
2018-02-15  0.183106 -1.900941 -0.418383 -0.351293 -1.034449  1  45 -0.348074
2018-02-16 -0.082716  0.818375  0.224196 -1.039357 -0.388930  1  46 -0.067693
2018-02-17  0.709177 -0.681106 -0.912453 -0.383584  1.710058  1  47 -0.483025
2018-02-18 -0.760716  0.081105 -0.147478  0.400124 -0.110860  1  48 -0.061698
2018-02-19  0.338390  0.255952  1.676570 -1.958120 -0.759168  1  49  0.086612
2018-02-20  1.151238 -1.260551  1.383887 -0.206269  0.878681  1  50 -1.451194
2018-02-21  1.776612  1.108363 -0.093075  0.172307 -0.524714  1  51  1.969131
2018-02-22  0.895304  0.588232 -0.238225  0.575352 -0.067758  1  52  0.526646
2018-02-23 -0.890515 -2.113061 -0.478591  1.096215 -0.242768  1  53  1.881712
2018-02-24 -0.323670  0.579277  0.648111 -0.381003  0.092686  1  54 -0.187494
2018-02-25  0.437939  0.516103  0.993757 -0.261056  1.264953  1  55  0.226022
2018-02-26  0.083460 -1.750603 -0.149586  0.360871 -0.762627  1  56 -0.146106
2018-02-27  0.021149 -1.368656  1.674765  0.195285  0.207323  1  57 -0.028946
2018-02-28 -0.032057 -0.730362 -0.457724  0.452477  0.023135  1  58  0.023413
2018-03-01 -1.352260 -0.757481  1.208606  0.465890  1.250182  1  59  1.024311

In [ ]:
df2 = df

In [ ]:
df2

                   A         B         C         D         E  f   g   produto
2018-01-01  0.596653 -1.052722  0.034195  1.012252  0.722147  1   0 -0.628110
2018-01-02 -0.178438  0.638501  0.020219 -0.845662  1.178465  1   1 -0.113933
2018-01-03  1.092021 -0.990079  1.607277  1.602673 -0.434208  1   2 -1.081187
2018-01-04  0.150403  0.014301 -0.252984  0.965959 -1.032975  1   3  0.002151
2018-01-05 -0.833226 -0.895901 -0.509193  0.347107 -1.472684  1   4  0.746489
2018-01-06 -2.118210  1.332288  2.014771 -0.499232  0.513489  1   5 -2.822066
2018-01-07 -1.817113 -0.514036 -1.258388 -0.230925 -0.277780  1   6  0.934061
2018-01-08 -0.689936  0.511259 -0.345524 -0.603705 -0.453326  1   7 -0.352736
2018-01-09  0.560340  1.492775  1.780840 -0.740647 -1.969409  1   8  0.836462
2018-01-10 -1.187578  0.679221  1.542018  0.703975 -1.879199  1   9 -0.806628
2018-01-11 -0.502847 -1.350789 -0.149644 -0.341924  0.023393  1  10  0.679241
2018-01-12 -0.243615 -0.190319 -0.367452 -1.501799 -1.003429  1  11  0.046365
2018-01-13  1.378927 -1.018789  1.218058  1.422708 -0.854633  1  12 -1.404837
2018-01-14  1.389070  0.006824  0.542405 -0.238344 -0.176326  1  13  0.009479
2018-01-15  1.040734  1.035299 -0.880569 -0.632039 -0.745854  1  14  1.077471
2018-01-16 -0.065142 -0.511110  0.701693  1.806759  1.921330  1  15  0.033295
2018-01-17  0.364223  0.605939 -0.595204 -0.490846  1.267224  1  16  0.220697
2018-01-18  0.690388 -0.056632  1.219765 -0.072635 -1.147371  1  17 -0.039098
2018-01-19 -1.572777  0.278115  0.159294 -0.521265 -1.193348  1  18 -0.437413
2018-01-20 -0.046087  1.976669 -0.087262  1.700308  0.987094  1  19 -0.091098
2018-01-21 -0.537079 -0.628017  0.507226  0.847591 -0.820291  1  20  0.337295
2018-01-22  0.576915  0.505192 -0.804690  0.067822  0.199824  1  21  0.291453
2018-01-23 -1.421560  0.460635 -0.109767 -1.152995  0.914842  1  22 -0.654820
2018-01-24  1.205050 -0.305915  0.857603 -0.310064  0.193011  1  23 -0.368642
2018-01-25 -0.027515  1.062751  0.178958 -1.442938 -0.591930  1  24 -0.029241
2018-01-26  0.561388 -0.955910 -0.672073 -0.637335  0.121102  1  25 -0.536636
2018-01-27  0.298528 -2.333930 -0.893346  0.071768 -0.506171  1  26 -0.696743
2018-01-28 -0.122945 -0.230254 -1.354662  0.176399 -0.841009  1  27  0.028309
2018-01-29 -1.151007 -0.060771  1.679897  0.094156  0.925861  1  28  0.069948
2018-01-30 -0.858307  0.544822  0.503032  0.098167  1.591574  1  29 -0.467624
2018-01-31  0.061900  0.904486 -0.652912  1.343154 -0.229182  1  30  0.055987
2018-02-01  1.031108 -0.616098  0.966982  0.006801 -0.604708  1  31 -0.635264
2018-02-02 -0.276874  1.884022 -0.404969  0.288470  0.498828  1  32 -0.521637
2018-02-03 -0.840961  0.146841 -1.212136  0.285958 -1.071333  1  33 -0.123487
2018-02-04  1.095927  0.085574 -0.097471 -0.474298  0.374833  1  34  0.093783
2018-02-05  0.325748  0.414689  1.452208  0.006847 -0.562727  1  35  0.135084
2018-02-06 -0.414766 -0.587298  1.011636 -0.773448 -0.245813  1  36  0.243591
2018-02-07  0.574206 -0.720245  1.923550 -1.158746 -1.355295  1  37 -0.413569
2018-02-08  0.176172 -0.305079  1.443468  1.916454  0.282888  1  38 -0.053746
2018-02-09 -0.098104  0.114186 -0.102018 -0.428576 -0.695746  1  39 -0.011202
2018-02-10 -0.325324 -1.815741 -0.699557  0.120378 -1.723768  1  40  0.590704
2018-02-11 -0.693681 -0.633042  0.823562 -0.918628 -0.879926  1  41  0.439129
2018-02-12  0.873161 -0.389511  0.945943  0.034539 -2.128371  1  42 -0.340106
2018-02-13 -0.198380  0.883195  1.106817  1.094237  0.219471  1  43 -0.175208
2018-02-14  0.541639  0.739677 -2.007357 -0.568763 -0.908745  1  44  0.400638
2018-02-15  0.183106 -1.900941 -0.418383 -0.351293 -1.034449  1  45 -0.348074
2018-02-16 -0.082716  0.818375  0.224196 -1.039357 -0.388930  1  46 -0.067693
2018-02-17  0.709177 -0.681106 -0.912453 -0.383584  1.710058  1  47 -0.483025
2018-02-18 -0.760716  0.081105 -0.147478  0.400124 -0.110860  1  48 -0.061698
2018-02-19  0.338390  0.255952  1.676570 -1.958120 -0.759168  1  49  0.086612
2018-02-20  1.151238 -1.260551  1.383887 -0.206269  0.878681  1  50 -1.451194
2018-02-21  1.776612  1.108363 -0.093075  0.172307 -0.524714  1  51  1.969131
2018-02-22  0.895304  0.588232 -0.238225  0.575352 -0.067758  1  52  0.526646
2018-02-23 -0.890515 -2.113061 -0.478591  1.096215 -0.242768  1  53  1.881712
2018-02-24 -0.323670  0.579277  0.648111 -0.381003  0.092686  1  54 -0.187494
2018-02-25  0.437939  0.516103  0.993757 -0.261056  1.264953  1  55  0.226022
2018-02-26  0.083460 -1.750603 -0.149586  0.360871 -0.762627  1  56 -0.146106
2018-02-27  0.021149 -1.368656  1.674765  0.195285  0.207323  1  57 -0.028946
2018-02-28 -0.032057 -0.730362 -0.457724  0.452477  0.023135  1  58  0.023413
2018-03-01 -1.352260 -0.757481  1.208606  0.465890  1.250182  1  59  1.024311

In [ ]:
frames = [df2,df]

In [ ]:
frames

[                   A         B         C         D         E  f   g   produto
 2018-01-01  0.596653 -1.052722  0.034195  1.012252  0.722147  1   0 -0.628110
 2018-01-02 -0.178438  0.638501  0.020219 -0.845662  1.178465  1   1 -0.113933
 2018-01-03  1.092021 -0.990079  1.607277  1.602673 -0.434208  1   2 -1.081187
 2018-01-04  0.150403  0.014301 -0.252984  0.965959 -1.032975  1   3  0.002151
 2018-01-05 -0.833226 -0.895901 -0.509193  0.347107 -1.472684  1   4  0.746489
 2018-01-06 -2.118210  1.332288  2.014771 -0.499232  0.513489  1   5 -2.822066
 2018-01-07 -1.817113 -0.514036 -1.258388 -0.230925 -0.277780  1   6  0.934061
 2018-01-08 -0.689936  0.511259 -0.345524 -0.603705 -0.453326  1   7 -0.352736
 2018-01-09  0.560340  1.492775  1.780840 -0.740647 -1.969409  1   8  0.836462
 2018-01-10 -1.187578  0.679221  1.542018  0.703975 -1.879199  1   9 -0.806628
 2018-01-11 -0.502847 -1.350789 -0.149644 -0.341924  0.023393  1  10  0.679241
 2018-01-12 -0.243615 -0.190319 -0.367452 -1.501799 -1.003429  1  11  0.046365
 2018-01-13  1.378927 -1.018789  1.218058  1.422708 -0.854633  1  12 -1.404837
 2018-01-14  1.389070  0.006824  0.542405 -0.238344 -0.176326  1  13  0.009479
 2018-01-15  1.040734  1.035299 -0.880569 -0.632039 -0.745854  1  14  1.077471
 2018-01-16 -0.065142 -0.511110  0.701693  1.806759  1.921330  1  15  0.033295
 2018-01-17  0.364223  0.605939 -0.595204 -0.490846  1.267224  1  16  0.220697
 2018-01-18  0.690388 -0.056632  1.219765 -0.072635 -1.147371  1  17 -0.039098
 2018-01-19 -1.572777  0.278115  0.159294 -0.521265 -1.193348  1  18 -0.437413
 2018-01-20 -0.046087  1.976669 -0.087262  1.700308  0.987094  1  19 -0.091098
 2018-01-21 -0.537079 -0.628017  0.507226  0.847591 -0.820291  1  20  0.337295
 2018-01-22  0.576915  0.505192 -0.804690  0.067822  0.199824  1  21  0.291453
 2018-01-23 -1.421560  0.460635 -0.109767 -1.152995  0.914842  1  22 -0.654820
 2018-01-24  1.205050 -0.305915  0.857603 -0.310064  0.193011  1  23 -0.368642
 2018-01-25 -0.027515  1.062751  0.178958 -1.442938 -0.591930  1  24 -0.029241
 2018-01-26  0.561388 -0.955910 -0.672073 -0.637335  0.121102  1  25 -0.536636
 2018-01-27  0.298528 -2.333930 -0.893346  0.071768 -0.506171  1  26 -0.696743
 2018-01-28 -0.122945 -0.230254 -1.354662  0.176399 -0.841009  1  27  0.028309
 2018-01-29 -1.151007 -0.060771  1.679897  0.094156  0.925861  1  28  0.069948
 2018-01-30 -0.858307  0.544822  0.503032  0.098167  1.591574  1  29 -0.467624
 2018-01-31  0.061900  0.904486 -0.652912  1.343154 -0.229182  1  30  0.055987
 2018-02-01  1.031108 -0.616098  0.966982  0.006801 -0.604708  1  31 -0.635264
 2018-02-02 -0.276874  1.884022 -0.404969  0.288470  0.498828  1  32 -0.521637
 2018-02-03 -0.840961  0.146841 -1.212136  0.285958 -1.071333  1  33 -0.123487
 2018-02-04  1.095927  0.085574 -0.097471 -0.474298  0.374833  1  34  0.093783
 2018-02-05  0.325748  0.414689  1.452208  0.006847 -0.562727  1  35  0.135084
 2018-02-06 -0.414766 -0.587298  1.011636 -0.773448 -0.245813  1  36  0.243591
 2018-02-07  0.574206 -0.720245  1.923550 -1.158746 -1.355295  1  37 -0.413569
 2018-02-08  0.176172 -0.305079  1.443468  1.916454  0.282888  1  38 -0.053746
 2018-02-09 -0.098104  0.114186 -0.102018 -0.428576 -0.695746  1  39 -0.011202
 2018-02-10 -0.325324 -1.815741 -0.699557  0.120378 -1.723768  1  40  0.590704
 2018-02-11 -0.693681 -0.633042  0.823562 -0.918628 -0.879926  1  41  0.439129
 2018-02-12  0.873161 -0.389511  0.945943  0.034539 -2.128371  1  42 -0.340106
 2018-02-13 -0.198380  0.883195  1.106817  1.094237  0.219471  1  43 -0.175208
 2018-02-14  0.541639  0.739677 -2.007357 -0.568763 -0.908745  1  44  0.400638
 2018-02-15  0.183106 -1.900941 -0.418383 -0.351293 -1.034449  1  45 -0.348074
 2018-02-16 -0.082716  0.818375  0.224196 -1.039357 -0.388930  1  46 -0.067693
 2018-02-17  0.709177 -0.681106 -0.912453 -0.383584  1.710058  1  47 -0.483025
 2018-02-18 -0.760716  0.081105 -0.147478  0.400124 -0.110860  1  48 -0.061698
 2018-02-19  0.338390  0.255952  1.676570 -1.958120 -0.759168  1  49  0.086612
 2018-02-20  1.151238 -1.260551  1.383887 -0.206269  0.878681  1  50 -1.451194
 2018-02-21  1.776612  1.108363 -0.093075  0.172307 -0.524714  1  51  1.969131
 2018-02-22  0.895304  0.588232 -0.238225  0.575352 -0.067758  1  52  0.526646
 2018-02-23 -0.890515 -2.113061 -0.478591  1.096215 -0.242768  1  53  1.881712
 2018-02-24 -0.323670  0.579277  0.648111 -0.381003  0.092686  1  54 -0.187494
 2018-02-25  0.437939  0.516103  0.993757 -0.261056  1.264953  1  55  0.226022
 2018-02-26  0.083460 -1.750603 -0.149586  0.360871 -0.762627  1  56 -0.146106
 2018-02-27  0.021149 -1.368656  1.674765  0.195285  0.207323  1  57 -0.028946
 2018-02-28 -0.032057 -0.730362 -0.457724  0.452477  0.023135  1  58  0.023413
 2018-03-01 -1.352260 -0.757481  1.208606  0.465890  1.250182  1  59  1.024311,
                    A         B         C         D         E  f   g   produto
 2018-01-01  0.596653 -1.052722  0.034195  1.012252  0.722147  1   0 -0.628110
 2018-01-02 -0.178438  0.638501  0.020219 -0.845662  1.178465  1   1 -0.113933
 2018-01-03  1.092021 -0.990079  1.607277  1.602673 -0.434208  1   2 -1.081187
 2018-01-04  0.150403  0.014301 -0.252984  0.965959 -1.032975  1   3  0.002151
 2018-01-05 -0.833226 -0.895901 -0.509193  0.347107 -1.472684  1   4  0.746489
 2018-01-06 -2.118210  1.332288  2.014771 -0.499232  0.513489  1   5 -2.822066
 2018-01-07 -1.817113 -0.514036 -1.258388 -0.230925 -0.277780  1   6  0.934061
 2018-01-08 -0.689936  0.511259 -0.345524 -0.603705 -0.453326  1   7 -0.352736
 2018-01-09  0.560340  1.492775  1.780840 -0.740647 -1.969409  1   8  0.836462
 2018-01-10 -1.187578  0.679221  1.542018  0.703975 -1.879199  1   9 -0.806628
 2018-01-11 -0.502847 -1.350789 -0.149644 -0.341924  0.023393  1  10  0.679241
 2018-01-12 -0.243615 -0.190319 -0.367452 -1.501799 -1.003429  1  11  0.046365
 2018-01-13  1.378927 -1.018789  1.218058  1.422708 -0.854633  1  12 -1.404837
 2018-01-14  1.389070  0.006824  0.542405 -0.238344 -0.176326  1  13  0.009479
 2018-01-15  1.040734  1.035299 -0.880569 -0.632039 -0.745854  1  14  1.077471
 2018-01-16 -0.065142 -0.511110  0.701693  1.806759  1.921330  1  15  0.033295
 2018-01-17  0.364223  0.605939 -0.595204 -0.490846  1.267224  1  16  0.220697
 2018-01-18  0.690388 -0.056632  1.219765 -0.072635 -1.147371  1  17 -0.039098
 2018-01-19 -1.572777  0.278115  0.159294 -0.521265 -1.193348  1  18 -0.437413
 2018-01-20 -0.046087  1.976669 -0.087262  1.700308  0.987094  1  19 -0.091098
 2018-01-21 -0.537079 -0.628017  0.507226  0.847591 -0.820291  1  20  0.337295
 2018-01-22  0.576915  0.505192 -0.804690  0.067822  0.199824  1  21  0.291453
 2018-01-23 -1.421560  0.460635 -0.109767 -1.152995  0.914842  1  22 -0.654820
 2018-01-24  1.205050 -0.305915  0.857603 -0.310064  0.193011  1  23 -0.368642
 2018-01-25 -0.027515  1.062751  0.178958 -1.442938 -0.591930  1  24 -0.029241
 2018-01-26  0.561388 -0.955910 -0.672073 -0.637335  0.121102  1  25 -0.536636
 2018-01-27  0.298528 -2.333930 -0.893346  0.071768 -0.506171  1  26 -0.696743
 2018-01-28 -0.122945 -0.230254 -1.354662  0.176399 -0.841009  1  27  0.028309
 2018-01-29 -1.151007 -0.060771  1.679897  0.094156  0.925861  1  28  0.069948
 2018-01-30 -0.858307  0.544822  0.503032  0.098167  1.591574  1  29 -0.467624
 2018-01-31  0.061900  0.904486 -0.652912  1.343154 -0.229182  1  30  0.055987
 2018-02-01  1.031108 -0.616098  0.966982  0.006801 -0.604708  1  31 -0.635264
 2018-02-02 -0.276874  1.884022 -0.404969  0.288470  0.498828  1  32 -0.521637
 2018-02-03 -0.840961  0.146841 -1.212136  0.285958 -1.071333  1  33 -0.123487
 2018-02-04  1.095927  0.085574 -0.097471 -0.474298  0.374833  1  34  0.093783
 2018-02-05  0.325748  0.414689  1.452208  0.006847 -0.562727  1  35  0.135084
 2018-02-06 -0.414766 -0.587298  1.011636 -0.773448 -0.245813  1  36  0.243591
 2018-02-07  0.574206 -0.720245  1.923550 -1.158746 -1.355295  1  37 -0.413569
 2018-02-08  0.176172 -0.305079  1.443468  1.916454  0.282888  1  38 -0.053746
 2018-02-09 -0.098104  0.114186 -0.102018 -0.428576 -0.695746  1  39 -0.011202
 2018-02-10 -0.325324 -1.815741 -0.699557  0.120378 -1.723768  1  40  0.590704
 2018-02-11 -0.693681 -0.633042  0.823562 -0.918628 -0.879926  1  41  0.439129
 2018-02-12  0.873161 -0.389511  0.945943  0.034539 -2.128371  1  42 -0.340106
 2018-02-13 -0.198380  0.883195  1.106817  1.094237  0.219471  1  43 -0.175208
 2018-02-14  0.541639  0.739677 -2.007357 -0.568763 -0.908745  1  44  0.400638
 2018-02-15  0.183106 -1.900941 -0.418383 -0.351293 -1.034449  1  45 -0.348074
 2018-02-16 -0.082716  0.818375  0.224196 -1.039357 -0.388930  1  46 -0.067693
 2018-02-17  0.709177 -0.681106 -0.912453 -0.383584  1.710058  1  47 -0.483025
 2018-02-18 -0.760716  0.081105 -0.147478  0.400124 -0.110860  1  48 -0.061698
 2018-02-19  0.338390  0.255952  1.676570 -1.958120 -0.759168  1  49  0.086612
 2018-02-20  1.151238 -1.260551  1.383887 -0.206269  0.878681  1  50 -1.451194
 2018-02-21  1.776612  1.108363 -0.093075  0.172307 -0.524714  1  51  1.969131
 2018-02-22  0.895304  0.588232 -0.238225  0.575352 -0.067758  1  52  0.526646
 2018-02-23 -0.890515 -2.113061 -0.478591  1.096215 -0.242768  1  53  1.881712
 2018-02-24 -0.323670  0.579277  0.648111 -0.381003  0.092686  1  54 -0.187494
 2018-02-25  0.437939  0.516103  0.993757 -0.261056  1.264953  1  55  0.226022
 2018-02-26  0.083460 -1.750603 -0.149586  0.360871 -0.762627  1  56 -0.146106
 2018-02-27  0.021149 -1.368656  1.674765  0.195285  0.207323  1  57 -0.028946
 2018-02-28 -0.032057 -0.730362 -0.457724  0.452477  0.023135  1  58  0.023413
 2018-03-01 -1.352260 -0.757481  1.208606  0.465890  1.250182  1  59  1.024311]

In [ ]:
pd.concat(frames).shape

(120, 8)

In [ ]:
grupo = pd.concat([df,df2], keys=['f1','f2'])

In [ ]:
grupo

                      A         B         C         D         E  f   g  \
f1 2018-01-01  0.596653 -1.052722  0.034195  1.012252  0.722147  1   0
   2018-01-02 -0.178438  0.638501  0.020219 -0.845662  1.178465  1   1
   2018-01-03  1.092021 -0.990079  1.607277  1.602673 -0.434208  1   2
   2018-01-04  0.150403  0.014301 -0.252984  0.965959 -1.032975  1   3
   2018-01-05 -0.833226 -0.895901 -0.509193  0.347107 -1.472684  1   4
...                 ...       ...       ...       ...       ... ..  ..
f2 2018-02-25  0.437939  0.516103  0.993757 -0.261056  1.264953  1  55
   2018-02-26  0.083460 -1.750603 -0.149586  0.360871 -0.762627  1  56
   2018-02-27  0.021149 -1.368656  1.674765  0.195285  0.207323  1  57
   2018-02-28 -0.032057 -0.730362 -0.457724  0.452477  0.023135  1  58
   2018-03-01 -1.352260 -0.757481  1.208606  0.465890  1.250182  1  59

                produto
f1 2018-01-01 -0.628110
   2018-01-02 -0.113933
   2018-01-03 -1.081187
   2018-01-04  0.002151
   2018-01-05  0.746489
...                 ...
f2 2018-02-25  0.226022
   2018-02-26 -0.146106
   2018-02-27 -0.028946
   2018-02-28  0.023413
   2018-03-01  1.024311

[120 rows x 8 columns]

In [ ]:
# Cadastro da loja a
cadastro_a = {'Id': ['AA2930','BB4563','CC2139','DE2521','GT3462','HH1158'],
            'Nome':  ['Victor', 'Amanda', 'Bruna', 'Carlos', 'Ricardo', 'Maria'],
            'Idade': [20,35,40,54,30,27],
            'CEP': ['00092-029','11111-111','22222-888','00000-999','88888-111','77777-666']
           }

cadastro_a = pd.DataFrame(cadastro_a, columns = ['Id','Nome','Idade','CEP'])
cadastro_a

       Id     Nome  Idade        CEP
0  AA2930   Victor     20  00092-029
1  BB4563   Amanda     35  11111-111
2  CC2139    Bruna     40  22222-888
3  DE2521   Carlos     54  00000-999
4  GT3462  Ricardo     30  88888-111
5  HH1158    Maria     27  77777-666

In [ ]:
# Cadastro da loja b
cadastro_b = {'Id': ['CC9999','EF4488','DD9999','GT3462','HH1158'],
            'Nome':  ['Marcos', 'Patricia', 'Ericka', 'Ricardo', 'Maria'],
            'Idade': [19,30,22,30,27],
            'CEP': ['00092-029','11111-111','11111-888','88888-111','77777-666']
           }
 
cadastro_b = pd.DataFrame(cadastro_b, columns = ['Id','Nome','Idade','CEP'])
cadastro_b

       Id      Nome  Idade        CEP
0  CC9999    Marcos     19  00092-029
1  EF4488  Patricia     30  11111-111
2  DD9999    Ericka     22  11111-888
3  GT3462   Ricardo     30  88888-111
4  HH1158     Maria     27  77777-666

In [ ]:
pd.merge(cadastro_a,cadastro_b,on = ["Id"], how = "right")

       Id   Nome_x  Idade_x      CEP_x    Nome_y  Idade_y      CEP_y
0  CC9999      NaN      NaN        NaN    Marcos       19  00092-029
1  EF4488      NaN      NaN        NaN  Patricia       30  11111-111
2  DD9999      NaN      NaN        NaN    Ericka       22  11111-888
3  GT3462  Ricardo     30.0  88888-111   Ricardo       30  88888-111
4  HH1158    Maria     27.0  77777-666     Maria       27  77777-666